.container-monitor {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* Permite que las cards bajen si no caben en una fila */
    justify-content: center;
    /* Centra las cards horizontalmente */
    align-items: center;
    /* Centra las cards verticalmente (opcional) */
    gap: 25px;
    /* Espacio entre cada card */
    padding-top: 30px;
    /* Espacio interno para que no toquen los bordes */
    width: 100vw;
    background-color: #0B1211;
    /* Tu fondo Dark Polar */
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue';
    color: #E0F2F1;
}