.container-monitor {
    display: flex;
    flex-wrap: wrap;
    /* Permite que las cards bajen si no caben en una fila */
    justify-content: center;
    /* Centra las cards horizontalmente */
    align-items: center;
    /* Centra las cards verticalmente (opcional) */
    gap: 10px;
    /* Espacio entre cada card */
    padding: 30px;
    /* Espacio interno para que no toquen los bordes */
    max-width: 450px;
    width: 80%;
    background-color: #0B1211;
    /* Tu fondo Dark Polar */
    font-family: 'sans-serif';
    color: '#E0F2F1';
}

h1 {
    font-family: 'sans-serif';
    color: '#E0F2F1';
}

p {
    color: '#E0F2F1';
}